/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/storage/*.key
/storage/pail
/vendor

# Python Virtual Environment
/python/.venv
/python/__pycache__
/python/data/*.pkl
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

/class_diagrams/
/sequence_diagrams/
/usecase_specifications/
generate_class_diagrams.py
generate_sequence_diagrams.py
generate_usecase_specifications.py